body {
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 90%;
}

header img {
  height: 40px;
}

header a {
  font-size: xx-large;
  color: black;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes monter {
  from {
    transform: translate(0%, 99%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
.resto__intro img {
  width: 100%;
  height: 450px;
}

.resto__intro {
  position: absolute;
  width: 100%;
}

.resto__menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  position: relative;
  top: 350px;
  border-radius: 40px 40px 0px 0px;
  width: 103%;
  padding-bottom: 70px;
}

hr {
  border-top: #99E2D0 solid 5px;
  width: 60px;
  margin: 5px 0px 10px 10px;
}

.resto__menu__titre {
  display: flex;
  justify-content: space-between;
}

.resto__menu__titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
  padding-left: 20px;
}

.resto__menu h3 {
  margin: 10px 10px 0px 10px;
}

.resto__menu__card {
  flex-direction: column;
  width: 95%;
  height: 70px;
  margin: 0px auto;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  animation: apparition 2s, monter 1800ms;
}

.resto__menu__card:nth-of-type(1) {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(2) {
  animation-delay: 1s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(4) {
  animation-delay: 2s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(5) {
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(6) {
  animation-delay: 3s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(7) {
  animation-delay: 3.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(8) {
  animation-delay: 4s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(9) {
  animation-delay: 4.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(10) {
  animation-delay: 5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(11) {
  animation-delay: 5.5s;
  animation-fill-mode: both;
}

.resto__menu__card h4 {
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.resto__menu__card h5 {
  margin: 0px 20px 0px 20px;
  float: right;
  transition-duration: 500ms;
}

.resto__menu__card p {
  margin: 0px 0px 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resto__commande {
  align-self: center;
  padding-top: 30px;
}

@media screen and (min-width: 992px) {
  .resto {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .resto__intro {
    max-width: 1100px;
  }
}
.resto__commande button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: x-large;
  padding: 20px 50px 20px 50px;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 5px 5px grey;
  border: none;
}
.resto__commande button:hover {
  background: #ae80e5;
  background: #fface8;
  box-shadow: 0px 10px 10px grey;
}

footer {
  margin-top: 350px;
  padding-top: 10px;
  background-color: #353535;
  color: white;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}

footer img {
  color: white;
  height: 30px;
}

footer i {
  padding-right: 10px;
}

footer a {
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1100Px;
    margin-left: auto;
    margin-right: auto;
  }

  footer a {
    padding-top: 10px;
  }
}
.resto__menu__card button {
  visibility: hidden;
  float: right;
  height: 100%;
  width: 0%;
  border-radius: 0px 18px 18px 0px;
  border: none;
  background-color: #99E2D0;
  color: white;
  font-size: large;
  transform: scaleX(0) width;
  transform-origin: right;
  transition-duration: 300ms;
}

.resto__menu__card:hover button {
  visibility: initial;
  position: relative;
  transform: scaleX(1);
  width: 15%;
}
.resto__menu__card:hover button i {
  transform: rotate(360deg);
  transition-duration: 500ms;
  font-size: xx-large;
}

.resto__menu__titre i:nth-of-type(1) {
  position: absolute;
  float: right;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scaleX(0);
  transform-origin: top;
  font-size: x-large;
  top: 40px;
  right: 50px;
}

.resto__menu__titre i:nth-of-type(2) {
  position: relative;
  font-size: x-large;
  top: 40px;
  right: 50px;
}

.resto__menu__titre .coeur:hover i:nth-of-type(1) {
  display: initial;
  visibility: initial;
  transform: scaleX(1);
  transition-duration: 3s;
  transform-origin: bottom;
}
.resto__menu__titre .coeur:hover i:nth-of-type(2) {
  transition-delay: 2s;
  opacity: 0;
}

/*# sourceMappingURL=stylemenu.css.map */
