footer{
    margin-top: 350px;
    padding-top: 10px;
    background-color: #353535;
    color: white;
    padding-left: 10px;

}
footer h1{
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
  }
footer img{
    color: white;
    height: 30px;
}
@media screen and (min-width: 992px) {
    footer{
      display: flex;
      justify-content: space-around;
      max-width: 1100Px;
      margin-left: auto;
      margin-right: auto;
    }
    
  }