footer{
    margin-top: 500px;
    background-color: #353535;
    color: white;
    padding-left: 10px;

}
footer h1{
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
  }
footer img{
    color: white;
    height: 30px;
}