footer{
    margin-top: 350px;
    padding-top: 10px;
    background-color: #353535;
    color: white;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

}
footer h2{
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
  }
footer img{
    color: white;
    height: 30px;
}
footer i{
  padding-right: 10px;
}
footer a{
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
    footer{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      max-width: 1100Px;
      margin-left: auto;
      margin-right: auto;
    }
    footer a{
      padding-top: 10px;
    }
  }