body{
    background-color: #99E2D0;
    font-size: 40px;
    text-align: center;
}

.chargement{
    height: 500px;
    line-height: 500px;
}

.loading{
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loading::after{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    animation: wait linear 2s;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes wait {
    0%{ transform: rotate(0deg);opacity: 1;}
    100%{transform: rotate(360deg); opacity: 0;}
}

 
    