body {
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 90%;
}

header img {
  height: 40px;
}

header a {
  font-size: xx-large;
  color: black;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.resto__menu__card {
  animation: apparition 2s;
}

.resto__menu__card:nth-of-type(1) {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(2) {
  animation-delay: 1s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(4) {
  animation-delay: 2s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(5) {
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(6) {
  animation-delay: 3s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(7) {
  animation-delay: 3.5s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(8) {
  animation-delay: 4s;
  animation-fill-mode: both;
}

.resto__menu__card:nth-of-type(9) {
  animation-delay: 4.5s;
  animation-fill-mode: both;
}

.resto__intro img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.resto__intro {
  position: absolute;
  z-index: 1;
}

.resto__menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
  top: 450px;
  border-radius: 40px;
  width: 103%;
}

.resto__menu h1 {
  display: flex;
  justify-content: space-around;
}

.resto__menu h2 {
  margin-left: 10px;
  text-decoration: underline #99E2D0;
}

.resto__menu__card {
  flex-direction: column;
  width: 80%;
  height: 70px;
  margin: 0px auto;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
}

.resto__menu__card h3 {
  margin: 10px;
}

.resto__menu__card h4 {
  margin: 0px 10px 0px 0px;
  float: right;
  position: relative;
  bottom: 15px;
}

.resto__menu__card p {
  margin: 0px 0px 0px 10px;
}

.resto__commande {
  align-self: center;
  padding-top: 30px;
}

.resto__commande button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: x-large;
  padding: 20px;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 5px 5px #999;
  border: none;
}
.resto__commande button:hover {
  background: #ae80e5;
  background: #fface8;
  box-sizing: 0px 10px 10px #999;
}

footer {
  margin-top: 500px;
  background-color: #353535;
  color: white;
  padding-left: 10px;
}

footer img {
  color: white;
  height: 30px;
}

.resto__menu__card button {
  visibility: hidden;
  position: absolute;
  float: right;
  height: 100%;
  width: 8%;
  border-radius: 0px 18px 18px 0px;
  border: none;
  background-color: #99E2D0;
  color: white;
  font-size: large;
  transform: scale(0);
  transform-origin: right;
}

.resto__menu__card:hover button {
  display: initial;
  transform-origin: right;
  visibility: initial;
  position: static;
  transform: scale(1);
  transition-duration: 500ms;
}
.resto__menu__card:hover button i {
  transform: rotate(360deg);
  transition-duration: 500ms;
}

/*# sourceMappingURL=stylemenu.css.map */
