
.resto__menu__card button{
    visibility: hidden;
    float: right;
    height: 100%;
    width: 0%;
    border-radius: 0px 18px 18px 0px;
    border:none;
    background-color: $colorthree;
    color: white;
    font-size: large;
    transform: scaleX(0) width ;
    transform-origin: right;
    transition-duration: 300ms;
}

.resto__menu__card{
    &:hover{
            
        & button{
            visibility: initial;
            position:relative ;
            transform: scaleX(1);
            width: 15%;
            
            & i{
                transform: rotate(360deg);
                transition-duration: 500ms;
                font-size: xx-large;
            }
            
        }
           
    }
} 

