.resto__menu__titre i:nth-of-type(1){
    position: absolute;
    float: right;
    border:none;
    background:linear-gradient($color-primary,$colortwo);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleX(0);
    transform-origin:top;
    font-size: x-large;
    top: 40px;
    right: 50px;
}
.resto__menu__titre i:nth-of-type(2){
    position:  relative;
    font-size: x-large;
    top: 40px;
    right: 50px;
} 

.resto__menu__titre .coeur{
    &:hover{
        & i:nth-of-type(1){
        display: initial;
        visibility: initial;
        transform: scaleX(1);
        transition-duration: 3s;
        transform-origin: bottom;
        }
        & i:nth-of-type(2){
            transition-delay: 2s;
            opacity: 0;
        }
        
    }
}