.resto__menu__card button{
    visibility: hidden;
    position: absolute;
    float: right;
    height: 100%;
    width: 8%;
    border-radius: 0px 18px 18px 0px;
    border:none;
    background-color: $colorthree;
    color: white;
    font-size: large;
    transform: scale(0);
    transform-origin: right;

}

.resto__menu__card{
    &:hover{
        & button{
            display: initial;
            transform-origin: right;
            visibility: initial;
            position: static;
            transform: scale(1);
            transition-duration: 500ms;
            & i{
                transform: rotate(360deg);
                transition-duration: 1s;
            }
    
           
        }
    }
}